@import "settings";
@import "foundation";

$semcomp-color: #004F78;

$page-background-color: #eee;
$header-text-color: $semcomp-color;

#logo-semcomp{
	height:80px;
	border:1px solid black;	
}
#all{
	background: #ddd;
	padding:0 15px;
}
h2 {
	margin:0.7em 0;
	border-bottom: 1px solid $semcomp-color;
	color: $semcomp-color;
}
.full-width-background {
	background: url('../images/faixaFundo.jpeg') repeat;	
}
#semcomp-logo2{
	background: url('../images/logo2.png');
	width:157px;
	height:158px;
	margin: 0 auto;
}
#header{
	padding: 20px 10px;	
}
#header-text h1{
	color: white;
	font-size: 2.3rem;
	text-align:center;
	padding:0;
	margin:0;
}
#header-text h1 strong{
	font-size: 2.75rem;
}

@media #{$large-up} { 
	#header-text h1{
		text-align:left;
	}	
}

$sticky-bar-height: 82px;
$sticky-bar-border-size: 2px;
.sticky-top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $sticky-bar-height;

  z-index: 50;

  border-bottom: $sticky-bar-border-size solid $semcomp-color;
  background-color: $page-background-color;

  box-shadow: 0 0 30px black;

  > .row {

    > div {
      height: $sticky-bar-height - $sticky-bar-border-size;
    }
  }

  + header {
     margin-top: $sticky-bar-height;
  }
}

a[id] h2 {
  //truque pra fazer o link interno ficar na posicao certa
  padding-top: $sticky-bar-height;
  margin-top: -$sticky-bar-height;

  color: $semcomp-color;
  border-bottom: 1px solid $semcomp-color;
}

.links {
  position: relative;

  .sub-nav {
    //pra grudar a lista de links na parte de baixo do cabecalho
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0;
    }
  }
}
