@import "settings";
@import "foundation";
#logo-semcomp{
	height:80px;
	border:1px solid black;	
}
#all{
	background: #ddd;
	padding:0 15px;
}
h2 {
	margin:0.7em 0;
	border-bottom: 1px solid #004F78;
	color:#004F78;
}
header{
	background: url('../images/faixaFundo.jpeg') repeat;	
}
#semcomp-logo2{
	background: url('../images/logo2.png');
	width:157px;
	height:158px;
	margin: 0 auto;
}
#header{
	padding: 20px 10px;	
}
#header-text h1{	
	color: white;
}