//@import "settings";
//settings pra alterar os defaults do foundation
$body-font-color: white;
$header-font-color: white;
$anchor-font-color: orange;
$anchor-font-color-hover: scale-color($anchor-font-color, $lightness: -15%);
$form-label-font-color:scale-color(white, $lightness: -15%);
@import "foundation";

$semcomp-color: #004F78;

$page-background-color: #eee;

#logo-semcomp{
	height:80px;
	border:1px solid black;	
}

h2 {
	margin:0.7em 0;
}

.full-width-background {
	background: url('../images/faixaFundo.jpeg') repeat;	
}

#semcomp-logo2{
	background: url('../images/logo2.png');
	width:157px;
	height:158px;
	margin: 0 auto;
}

#header{
	padding: 20px 10px;	
}

#header-text h1{
	font-size: 2.3rem;
	text-align:center;
	padding:0;
	margin:0;
}

#header-text h1 strong{
	font-size: 2.75rem;
}

@media #{$large-up} { 
	#header-text h1{
		text-align:left;
	}	
}

$sticky-bar-height: 82px;
$sticky-bar-border-size: 2px;
.sticky-top-bar {
  @media #{$large-up} { 
    position: fixed;
    top: 0;
    width: 100%;    

    z-index: 50;
    > .row {

      > div {
        height: $sticky-bar-height - $sticky-bar-border-size;
      }
    }

    + header {
       margin-top: $sticky-bar-height;
    }
    height: $sticky-bar-height;
  }
  
  
  border-bottom: $sticky-bar-border-size solid $semcomp-color;
  background-color: $page-background-color;

  box-shadow: 0 0 30px black;

  
}

h2 {
  //truque pra fazer o link interno ficar na posicao certa
  position:relative;
  span{
    position:relative;
    top:-$sticky-bar-height;
  }
}

.links {
  position: relative;
  text-align:center;

  .sub-nav {
    //pra grudar a lista de links na parte de baixo do cabecalho
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0;
    }
  }
}

.semcomp-logo {
  position: relative;
  > img {
    @media #{$large-up} {
      position: absolute;
      top: 0;
      bottom: 0;
    }    
    margin: auto;
    max-height: $sticky-bar-height - $sticky-bar-border-size;
  }
  @media #{$small-only} {
    text-align:center;
  }
}

.social-links > a > img {
	width: 50px;
	height: 50px;
}

.semcomp-img {
	max-width: 90%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.semcomp-background-1 { background-color: #0081C4; }
.semcomp-background-2 { background-color: #005785; }
.semcomp-background-3 { background-color: #002538; }
.semcomp-background-4 { background-color: #004F78; }
.semcomp-background-5 { background-color: #003E5E; }

/*Corrigindo bug do foundation */
textarea[rows]{
  height:auto;
}