*{
	margin:0;
	padding:0;
	border:0;
}
body{
	background: #00507c;
}
#content{
	width:66%;
	margin: 0 auto;
	text-align:center;
}
img{
	width:66%;
	border-style:none;
}
a, a:hover, a:active, a:visited {
	text-decoration:none;
	color:white;
	font-family: Calibri;
	font-weight:bold;
}

